:root {
    --pv-pink: #d93978;
    --pv-green: #14c918;
    --pv-darken: #00000080;
    --pv-lightblue: #111930;
    --pv-paleblue: #253151;
    --pv-midblue: #18223E;
    --pv-blue: #101A32;
    --pv-gray: #BCBCBC;
    --planet-black: #0C1121;
    --pv-red: #DC5263;
    --stake-gray: #253151;
}

body {
    font-family: raleway, sans-serif;
}

.pv-tile {
    border: 1px solid white;
    min-height: 50px;
    padding: 35px;
}

.tiles {
    margin: 20px 0;
}

.pv-table {
    color: white;
}

.pv-table tbody td {
    font-weight: bold;
}

#fiat-button {
    background-color: var(--pv-gray); border-color: var(--pv-gray);
    color: var(--planet-black);
}

#fiat-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(188 188 188 / 25%);
}